@use "sass:math"

html, body
  font: math.div($fz-base, $line-height-base) $family-base
  height: 100%
  width: 100%
  color: $color-base
  background: $bg-color-base
  scroll-behavior: smooth
  min-height: -webkit-fill-available
  -webkit-font-smoothing: antialiased
  -moz-osx-font-smoothing: grayscale
  text-rendering: optimizeSpeed

  +scrollbars(6px, $color-orange, 8px, $color-black)

*, *:before, *:after
  box-sizing: border-box

\:root
  +media($land, $scaling)
    font-size: vw(16, $size-land)

  +media($landLaptop)
    font-size: vh(16, $size-land-vh)

  +media($port, ">=tablet")
    font-size: vw(16, $size-port-tablet)

  +media($port, "<tablet")
    font-size: vw(16, $size-port)

#app
  min-height: 100%
  display: flex
  flex-flow: column nowrap
  justify-content: flex-start
  align-items: stretch
  transition: opacity $transition ease-out

.content
  flex: 1 1 auto

.container
  max-width: rem(1200px)
  padding: 0 rem(20px)
  margin: 0 auto








