html,
body {
  width: 100%;
  height: 100%;
  min-height: -webkit-fill-available;
  color: $color-base;
  background: $bg-color-base;
  font: #{$fz-base}/#{$line-height-base} $family-base;
  scroll-behavior: smooth;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  text-rendering: optimizespeed;

  @include scrollbars(rem(6px), $color-orange, rem(6px), $color-black);
}

*,
*::before,
*::after {
  box-sizing: border-box;
}

:root {
  @include media($land, $scaling) {
    font-size: vw(16, $size-land);
  }

  @include media($land-laptop) {
    font-size: vh(16, $size-land-vh);
  }

  @include media($port, '>=tablet') {
    font-size: vw(16, $size-port-tablet);
  }

  @include media($port, '<tablet') {
    font-size: vw(16, $size-port);
  }
}

#app {
  display: flex;
  justify-content: flex-start;
  align-items: stretch;
  min-height: 100dvh;
  transition: opacity $transition ease-out;
  flex-flow: column nowrap;
}

.content {
  flex: 1 1 auto;
}

.container {
  padding: 0 rem(20px);
  margin: 0 auto;
  max-width: rem(1200px);
}

.vue-notification {
  padding: rem(10px);
  margin: rem(5px);
  font-size: inherit;

  &.error {
    background-color: $color-red;
  }

  &.success {
    background-color: $color-green;
  }

  &.info {
    background-color: $color-blue;
  }

  &.warning {
    background-color: $color-orange;
  }
}

.dev {
  position: fixed;
  top: 0;
  left: 0;
  z-index: 1;
  padding: rem(3px);
  color: $color-white;
  background: rgba(0, 0, 0, 0.5);
}
