@use "sass:math"

//slide-top
.slide-top-enter-active,
.slide-top-leave-active
  transition: transform $transition ease-out

.slide-top-enter-from,
.slide-top-leave-to
  transform: translateY(-100%)

//slide-bottom
.slide-bottom-enter-active,
.slide-bottom-leave-active
  transition: transform $transition ease-out

.slide-bottom-enter-from,
.slide-bottom-leave-to
  transform: translateY(100%)

//slide-left
.slide-left-enter-active,
.slide-left-leave-active
  transition: transform $transition ease-out

.slide-left-enter-from,
.slide-left-leave-to
  transform: translateX(-100%)

//slide-right
.slide-right-enter-active,
.slide-right-leave-active
  transition: transform $transition ease-out

.slide-right-enter-from,
.slide-right-leave-to
  transform: translateX(100%)

//fade
.fade-enter-active,
.fade-leave-active
  transition: opacity $transition ease-out

.fade-enter-from,
.fade-leave-to
  opacity: 0

// bounce-x
@keyframes bounce-x
  0%
    transform: translateX(0px)
    timing-function: ease-in

  37%
    transform: translateX(5px)
    timing-function: ease-out

  55%
    transform: translateX(-5px)
    timing-function: ease-in

  73%
    transform: translateX(4px)
    timing-function: ease-out

  82%
    transform: translateX(-4px)
    timing-function: ease-in

  91%
    transform: translateX(2px)
    timing-function: ease-out

  96%
    transform: translateX(-2px)
    timing-function: ease-in

  100%
    transform: translateX(0px)
    timing-function: ease-in

// slide-bottom-smile
.slide-bottom-smile-enter-active, .slide-bottom-smile-leave-active
  transition: all math.div($transition, 2) ease-out
  transform: translate3d(0,0,0)

.slide-bottom-smile-enter-from
  transform: translateY(15px)
  opacity: 0

.slide-bottom-smile-leave-to
  transform: translateY(-15px)
  opacity: 0

// scale
.scale-enter-active
  animation: scale $transition*2 cubic-bezier(0.47, 1.87, 0.68, 0.99)

.scale-leave-active
  animation: scale $transition cubic-bezier(0.47, 1.87, 0.68, 0.99) reverse

@keyframes scale
  0%
    transform: scale(0) translate3d(0,0,0)

  100%
    transform: scale(1) translate3d(0,0,0)

// next
.next-enter-active
  transition: transform $transition cubic-bezier(.65,0,.35,1)
  transform: translateY(100%)

.next-leave-active
  transition: transform $transition cubic-bezier(.65,0,.35,1)

.next-enter-to
  transform: none

.next-leave-to
  transform: translateY(-100%)

// prev
.prev-enter-active
  transform: translateY(-100%)
  transition: transform $transition cubic-bezier(.65,0,.35,1)

.prev-leave-active
  transition: transform $transition cubic-bezier(.65,0,.35,1)

.prev-enter-to
  transform: none

.prev-leave-to
  transform: translateY(100%)
