/* Icons font----------------------------------------------------------- */
@font-face {
  font-weight: normal;
  font-family: 'Icons';
  font-style: normal;
  src: url('../assets/fonts/Icons.eot');
  src: url('../assets/fonts/Icons.eot?#iefix') format('embedded-opentype'),
    url('../assets/fonts/Icons.woff') format('woff'),
    url('../assets/fonts/Icons.ttf') format('truetype'),
    url('../assets/fonts/Icons.svg#Icons') format('svg');
  font-display: swap;
}

.icon {
  display: inline-block;
  font-weight: normal;
  font-family: 'Icons', sans-serif;
  font-style: normal;
  font-variant: normal;
  line-height: 1;
  vertical-align: middle;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  -webkit-font-smoothing: antialiased;
  text-rendering: auto;
}

.i_test:before {
  content: '\E001';
}
