@use "sass:math"

.reset
  margin: 0
  padding: 0
  list-style: none

.hidden
  display: none

.-transparent
  opacity: 0

.show
  display: block !important

.no-margin
  margin: 0 !important

.no-padding
  padding: 0 !important

.no-bg
  background: none !important

.no-border
  border: 0 !important

.bold
  font-weight: bold

.italic
  font-style: italic

.underline
  text-decoration: underline

.pointer
  cursor: pointer

.uppercase
  text-transform: uppercase

.lowercase
  text-transform: lowercase

.disabled
  cursor: default !important
  opacity: .3

.text-center
  text-align: center

.text-left
  text-align: left

.text-right
  text-align: right

.text-justify
  text-align: justify

@for $i from 1 through 99
  .w-#{$i}
    width: percentage(math.div($i, 100))

.w-16
  width: 16.666666667%

.w-33
  width: 33.3333%

.w-37
  width: 37.5%

.w-66
  width: 66.6667%

.w-100
  width: 100%

.flex-row
  display: flex
  flex-flow: row wrap
  justify-content: flex-start
  align-items: flex-start
  margin: 0 rem(-15px)

  &.-stretch
    align-items: stretch

  .flex-row-item
    padding: 0 rem(15px)

[data-sr-id]
  visibility: hidden
  will-change: transform

// отступы

.ml-auto
  margin-left: auto

.mr-auto
  margin-right: auto

.mt-auto
  margin-top: auto

.mb-auto
  margin-bottom: auto

.mb-0
  margin-bottom: 0 !important

.mt-0
  margin-top: 0 !important

.ml-0
  margin-left: 0 !important

.mr-0
  margin-right: 0 !important

.m-25
  margin: .25rem

.mb-25
  margin-bottom: .25rem

.mt-25
  margin-top: .25rem

.ml-25
  margin-left: .25rem

.mr-25
  margin-right: .25rem

.m-50
  margin: .5rem

.mb-50
  margin-bottom: .5rem

.mt-50
  margin-top: .5rem

.ml-50
  margin-left: .5rem

.mr-50
  margin-right: .5rem

.m-1
  margin: 1rem

.mb-1
  margin-bottom: 1rem

.mt-1
  margin-top: 1rem

.ml-1
  margin-left: 1rem

.mr-1
  margin-right: 1rem

.m-2
  margin: 2rem

.mb-2
  margin-bottom: 2rem

.mt-2
  margin-top: 2rem

.ml-2
  margin-left: 2rem

.mr-2
  margin-right: 2rem

// поля

.pb-0
  padding-bottom: 0 !important

.pt-0
  padding-top: 0 !important

.pl-0
  padding-left: 0 !important

.pr-0
  padding-right: 0 !important

.p-25
  padding: .25rem

.pb-25
  padding-bottom: .25rem

.pt-25
  padding-top: .25rem

.pl-25
  padding-left: .25rem

.pr-25
  padding-right: .25rem

.p-50
  padding: .5rem

.pb-50
  padding-bottom: .5rem

.pt-50
  padding-top: .5rem

.pl-50
  padding-left: .5rem

.pr-50
  padding-right: .5rem

.p-1
  padding: 1rem

.pb-1
  padding-bottom: 1rem

.pt-1
  padding-top: 1rem

.pl-1
  padding-left: 1rem

.pr-1
  padding-right: 1rem

.p-2
  padding: 2rem

.pb-2
  padding-bottom: 2rem

.pt-2
  padding-top: 2rem

.pl-2
  padding-left: 2rem

.pr-2
  padding-right: 2rem

// flex

.d-flex
  display: flex

.d-flex-inline
  display: inline-flex

.justify-content-between
  justify-content: space-between

.align-items-center
  align-items: center

