h1,
.h1
  font-weight: bold
  font-size: 1.8em

h2,
.h2
  font-weight: bold
  font-size: 1.5em

h3,
.h3
  font-weight: bold
  font-size: 1.5em

h4,
h5,
h6,
.h4,
.h5,
.h6
  font-weight: bold
  font-size: 1.2em

a
  color: $link-color
  text-decoration: underline

a:visited

a:hover
  text-decoration: none

a:active

a:focus
  outline: none

img
  max-width: 100%
  height: auto
  font-family: 'object-fit: cover;'
  vertical-align: middle

.v-lazy-image
  opacity: 0
  transition: opacity $transition

.v-lazy-image-loaded
  width: auto
  height: auto
  opacity: 1

textarea
  overflow: auto

button,
button,
input,
input,
textarea,
textarea
  outline: none

  &:active, &:focus
    outline: none

button,
input[type='submit'],
input[type='reset'],
input[type='button']
  &:active
    outline: none

.no-webp
  .on-webp
    display: none

.webp
  .off-webp
    display: none

*
  -webkit-tap-highlight-color: transparent
