h1,
.h1
  font-weight: bold
  font-size: 1.8em

h2,
.h2
  font-weight: bold
  font-size: 1.5em

h3,
.h3
  font-weight: bold
  font-size: 1.5em

h4,
h5,
h6,
.h4,
.h5,
.h6
  font-weight: bold
  font-size: 1.2em

a
  color: $link-color
  text-decoration: underline

  &:hover
    text-decoration: none

  &:active
    opacity: 0.5

  &:focus
    outline: none

img
  max-width: 100%
  height: auto
  vertical-align: middle

textarea
  overflow: auto
  vertical-align: middle

input, textarea
  +placeholder
    color: $placeholder
    opacity: 0.5

input:focus, input:active, textarea:focus, textarea:active
  outline: none

  +placeholder
    color: transparent !important

button:active,
input[type="submit"]:active,
input[type="reset"]:active,
input[type="button"]:active
  outline: none

.no-webp
  .on-webp
    display: none

.webp
  .off-webp
    display: none

*
  -webkit-tap-highlight-color: transparent
